<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rregullimi i bashkengjitjes se sfondit ne CSS</title>
    <style>
        body {
         background-image: url("1-mercedes-benz-g-class-2019-rt-hero-front.webp");
         background-repeat: no-repeat;
         background-position: center;
         background-attachment: fixed;
        }
     </style>
     </head>
     <body>
     <h1>Ngjyra e prapavijes</h1>
     <p><strong>Tip:</strong>Me pune dhe me perkushtim mund te arrijme synimet tona jetesore.</p>
     <br>
     <p>Afer drurit te thate digjet edhe i njomi,afer njeriut te keq prishet edhe i miri</p>
     <br><br><br><br><br><br><br><br><br><br><br><br><br>
     <p>Mos u bene mendjemadh,por rri ai qe je.. Sot ecen mbi toke,neser nen dhe...</p>
     <br><br><br><br><br><br><br><br><br><br><br><br><br>
     <p>Heret apo vone,i drejti del ne drite.</p>
     <br><br><br><br><br><br><br><br><br><br><br><br><br>
     <p>Jetim nuk eshte ai qe s'ka prind,por ai qe s'ka mend.</p>
     <br><br><br><br><br><br><br><br><br><br><br><br><br>
     </body>
     </html>
