<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS pengon ndryshimin ne dimensionet e kutise se elementit</title>
<style>
     div {
        width: 100%;
        padding: 25px;
        box-sizing: border-box;
        background: violet;
     }
</style>
</head>
<body>
    <div>
        <h1>Ky eshte nje DIV Box</h1>
        <p><strong>Njoftim</strong>,kete here nuk ka rrotulla ne fund te portit te 
shikimit.</p>
    </div>
</body>
</html>
