<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mbushja per anet individuale ne CSS</title>
<style>
    h1 {
        padding-top: 50px;
        padding-bottom: 100px;
        background: lime;
    }
    p {
        padding-left: 75px;
        padding-right: 75px;
        background: lime;
    }
</style>
</head>
<body>
    <h1>Ky eshte nje titull</h1>
    <p>Ky eshte nje paragraf tekstual.</p>
    <p><strong>Shenim:</strong>Ndryshoni vleren e prones se mbushjes per te pare se 
si funksionon.</p>
</body>
</html>
