<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qenderzimi horizontal me margjina automatike CSS</title>
<style>
     .container {
        width: 300px;
        height: 200px;
        background: #ddd;
        margin: 0 auto;
     }
</style>
</head>
<body>
    <div class="container">
        <h1>Ky eshte nje titull</h1>
        <p>Ky eshte nje paragraf tekstual</p>
    </div>
</body>
</html>
