<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heqja e nenvizimit te parazgjedhur nga hiperlinqet HTML</title>
<style>
    a {
        text-decoration: none;
        border-bottom: 1px dotted;
    }
    a:hover {
        border-bottom: none;
    }
</style>
</head>
<body>
    <p>Vendosni treguesin e miut <a href="#">mbi mua!</a></p>
</body>
</html>
