<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiqja e prones se ngjyres se kufirit</title>
    <style>
        p{
            color:red;
            background: yellow;
            border:5px solid;
            padding: 20px;
            margin: 20px;
        }
    </style>
    </head>
    <body>
        <p>Ngjyra e kufirit te ketij paragrafi eshte e njejte me ngjyren e tekstit.</p>
    
</body>
</html>
