<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vendosja e gjeresise minimale te nje elementi CSS</title>
<style>
    div {
        width: 200px;
        min-width: 300px;
        background: #bbb3ff;
       }
       p {
        float: left;
        min-width: 400px;
        background: #eee8aa;
       }
</style>
</head>
<body>
    <div>Gjeresia maksimale e ketij elementi div eshte caktuar ne 200px,keshtu
        qe nuk mund te jete me e gjere se kaq </div>
    <p>Futni nje tekst per te pare se si funksionon.</p>
</body>
</html>
