<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Percaktimi i madhesise se shkronjave duke perdorur fjale kyce</title>
<style>
    body{
        font-size: large;
    }
    h1{
        font-size: larger;
    }
    p{
        font-size: smaller;
    }
</style>
</head>
<body>
    <h1>Ky eshte nje titull</h1>
    <p>Ky eshte nje paragraf</p>
</body>
</html>
