<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shembull i selektoreve pasardhes te CSS</title>
<style>
    h1 em {
        color: green;
    }
    ul.menu {
        padding: 0;
        list-style: none;
    }
    ul.menu li {
        display: inline;
    }
    ul.menu li a {
        margin: 10px;
        text-decoration: none;
    }
</style>
</head>
<body>
    <h1>Ky eshte nje <em>titull</em></h1>
    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</body>
</html>
